<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/StylesAddproduct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/003cc75b52.js" crossorigin="anonymous"></script>
    <title>ZERO | Agregar o Editar Productos</title>
</head>
<body>
    
    <!------------------------------HEADER-------------------------------->
    <%- include('./partials/header')%> 


    <h1 class="titulo">Agregar Productos</h1>


    <div class="errores-front">
        <ul>

        </ul>
    </div>

    <!--------------------------------FORM---------------------------------->

    <div class="contenedor-form">        
        <form class="product-form" action="/products/productAdd" method="POST" enctype="multipart/form-data">

<!----------------------NOMBRE ALBUM-------------------------->

            <div class="controlador-form">
                <label for="name">Nombre del Álbum</label>
                <input class="input-style" type="text" name="name" id="name" required>
            </div>

<!----------------------NOMBRE ARTISTA-------------------------->

            <div class="controlador-form">
                <label for="artist">Nombre del Artista</label>
                <input class="input-style" type="text" name="artist" id="artist" required>
            </div>

<!----------------------GENERO ALBUM-------------------------->

            <div class="controlador-form">
                <label for="genre">Género</label>
                <select class="input-style-category" name="genre" id="genre" required> 
                    <% genres.forEach(genre => { %>
                        <option value="<%=genre.id%>"><%=genre.name%></option>
                    <% }) %>
                </select>
            </div>

<!----------------------DESCRIPCION-------------------------->

            <div class="controlador-form">
                <label for="description">Descripción del Producto</label>
                <textarea class="text-area" name="description" id="description" cols="30" rows="10" required></textarea>
            </div>
            
<!----------------------FORMATO PRODUCTO-------------------------->

            <div class="controlador-form">
                <label for="category">Formato</label>
                <select class="input-style-category" name="format" id="format" required> 
                    <% formats.forEach( format => { %>
                        <option value="<%=format.id%>"><%=format.name%></option>
                    <% }) %>
                </select>
            </div>

<!----------------------PRECIO-------------------------->

            <div class="controlador-form">
                <label for="price">Precio</label>
                <input class="input-style" type="number" name="price" id="price" required>
            </div>

<!----------------------AGREGAR IMAGEN-------------------------->

            <div class="controlador-form-image">
                <label class="input-image-boton" for="image">Agregar Imágen</label>
                <input class="input-image" type="file" name="image" id="image" >
            </div>   
            

<!----------------------BOTON SUBMIT-------------------------->

            <div class="controlador-form">
                <button class="button-submit-product" type="submit">¡Agregar Producto!</button>
            </div>
        </form>
    </div>

    

<!------------------------------FOOTER--------------------------------->

    <%- include ('./partials/footer') %>

    <script src="/js/validateProductAdd.js"></script>

</body>
</html>